.head{
	padding-top: 1px;
	padding-bottom: 20px;
}

/*.hidden{
    visibility: hidden;
}
.shown{
    visibility: visible;
}

#load {
   background-color: white;
   height: 100%;
   width: 100%;
   position: absolute;
   z-index: 1000;
   margin: 0;
}

#load img {
	margin-left: 30%;
   margin-top: 10%;
   position: fixed;
   width: 200px;
}*/


#map-canvas {
	height: 100%;
	margin: 0px;
	padding: 0px;
	min-height: 400px;
}

#timeline {
	width: 100%; 
	height: 380px;
}

#imgview{
	margin-top: 20px;
}

.img{
	width: 33%;
	margin: -2px;
	padding: 0px;
}

.highlight {
padding: 9px 14px;
margin-bottom: 14px;
background-color: #f7f7f9;
border: 1px solid #e1e1e8;
border-radius: 4px;

margin-top: 20px;
}

img{
	cursor: pointer;
}

.focus {
    z-index: 10;
    width: 80%;
    height: 90%;
    display: none;
}

.focus.enabled {
    margin: auto;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 5%;
}

.focus.enabled .container_view {
    width: 100%;
    height: 100%;
}

.focus.enabled img {
    width: 100%;
}

/*.focus.enabled .controls {
    margin-top: 1em;
    padding: 1em;
    text-align: center;
    background: #f1f1f1;
}*/

.focus.enabled .controls i {
 	position: absolute;
	cursor: pointer;
	font-size: 30px;
	margin-left: 95%;
	margin-top: -5%;
	opacity: 0.8;
}

.close{
	color: #000;
}

.overlay {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(0,0,0,0.3);
}

.darken {
    opacity: 0.3;
}

