.head{
	padding-top: 1px;
	padding-bottom: 20px;
}

div.invisible{
	display: none;
}

#map-canvas {
	height: 100%;
	margin: 0px;
	padding: 0px;
	min-height: 400px;
}

#imgview{
	margin-top: 20px;
}

.img{
	width: 30%;
	margin: -2px;
	padding: 0px;
}