<!DOCTYPE html>
<html>
<head>
	<title>Olhó-Passarinho</title>
	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
	<style type="text/css">
		div.invisible{
			display: none;
		}
	</style>
</head>
<body>
	<form action="/cluster" method="POST">
		<select name="subset" id="subset" onchange="this.form.submit()">
			<option value='null'>- choose a subset -</option>
		  	<option value="S0">Subset 0</option>
		  	<option value="S1">Subset 1</option>
		  	<option value="S2">Subset 2</option>
		</select>
	</form>

	{% block body %}{% endblock %}

	
</body>
</html>