{% extends "index.html" %}

{% block script %}

<script type="text/javascript">

	if ({{jsonfile}} == 0 || {{jsonfile}} == 1 || {{jsonfile}} == 2) {
  		var jsonfile = 'static/data/S'+{{jsonfile}}+'.json';
  		  	//path for json files
  		var elements = 'static/temp/clusters_elements_S'+{{jsonfile}}+'.json'
  		var clusters_info = 'static/temp/clusters_info_S'+{{jsonfile}}+'.json'
	}

  	var clusters = {{clusters | safe}}
  	// console.log(geoinfo[clusters[0]])

	var data = [];
	var info = [];

	//Tweets
	$.ajax({
	  url: jsonfile,
	  async: false,
	  dataType: 'json',
	  success: function (json) {
	    data = json;
	  }
	});
	// console.log(data)

	//List with index of each element in clusters
	$.ajax({
	  url: elements,
	  async: false,
	  dataType: 'json',
	  success: function (json) {
	    lst_tweets = json;
	  }
	});
	// console.log(info)

	//List with index of each element in clusters
	$.ajax({
	  url: clusters_info,
	  async: false,
	  dataType: 'json',
	  success: function (json) {
	    geoinfo = json;
	  }
	});
	// console.log(geoinfo)

	//create object with position for each tweet
	var tweet = {};
	// var num_tweets = data.length;
	// console.log(data.length)

	for (j in data){
		var logg = data[j]['coordinates']['coordinates'][0];
		var latt = data[j]['coordinates']['coordinates'][1];
		var id = data[j]['id_str'];

		tweet[id] = {
			LatLng: new google.maps.LatLng(latt, logg)
		}
	}

	var cluster = {};
	// First, create an object containing LatLng and population for each city.
	for (i in clusters){
		var a = clusters[i];
		console.log(geoinfo[a]['center_index'])
	  	var log = data[geoinfo[a]['center_index']]['coordinates']['coordinates'][0];
		var lat = data[geoinfo[a]['center_index']]['coordinates']['coordinates'][1];
		// console.log(lat);
		// console.log(log);

		cluster[a] = {
			center: new google.maps.LatLng(lat, log),
			radius: geoinfo[a]['radius'],
			start : geoinfo[a]['start_date'],
			end: geoinfo[a]['end_date']
		};
		console.log(cluster[a].radius)
		// console.log(cluster[a].center)
	}
	var clusterCircle;

	function initialize() {

	  	var mapOptions = {
	    	zoom: 2,
	    	center: new google.maps.LatLng(4.642425, -27.551018),
	    	mapTypeControl: false,
			panControl: false,
			scaleControl: false,
			overviewMapControl: false,
	    	zoomControl: true,
	    	zoomControlOptions: {
	    		style: google.maps.ZoomControlStyle.SMALL
	    	},
	    	streetViewControl: false
	  	};
		// console.log(mapOptions)

	  	var map = new google.maps.Map(document.getElementById('map-canvas'),
	      mapOptions);

		// Construct the circle for each value in citymap.
		for (var c in cluster) {
			console.log(c)
			var circleOptions = {
				// strokeColor: '#FF0000',
				strokeColor: '#800000',
				strokeOpacity: 0.8,
				strokeWeight: 2,
				fillColor: '#FF0000',
				fillOpacity: 0.35,
				map: map,
				position: cluster[c].center,
				center: cluster[c].center,
				// radius: parseInt(cluster[c].radius * 500 * (1/Math.log(cluster[c].radius)))
				radius: cluster[c].radius * 3000 * (1/(1.5 * Math.log(cluster[c].radius)))
			};

			// console.log(circleOptions)
			// Add the circle to the map.
			clusterCircle = new google.maps.Circle(circleOptions);
			var inform = c ;
			var start = cluster[c].start;
			var end = cluster[c].end;
	
			//lista com index dos tweets do cluster
			var tweet_indexs = lst_tweets[c];

			inf(clusterCircle, inform, start, end, tweet_indexs);
		}

		//Mark all tweets on map
	  	var image = 'static/img/point2.png';
	  	for (t in tweet){
		  	var beachMarker = new google.maps.Marker({
		      position: tweet[t].LatLng,
		      map: map,
		      icon: image
		  	});
	  	}

	}

  	function inf(clusterCircle, inform, start, end, tweet_indexs) {
		var infowindow = new google.maps.InfoWindow({
			  content: inform
	 	});

		google.maps.event.addListener(clusterCircle, 'click', function() {
			infowindow.open(clusterCircle['map'], clusterCircle);
			// console.log(inform.split());

			///
			///Info cluster
			///
			$('div #rightinfo').addClass('highlight');
			var arr_chars = inform.split("")
			var last_element = arr_chars[arr_chars.length - 1];			
			$('#clusterinfo').append('<h4 class="info" >Cluster '+ last_element +'</h4>');
			$('#clusterinfo').append('<p class="info"><b>Informação temporal:</b> </p>');
			$('#clusterinfo').append('<p class="info"><b>Início:</b> '+ start + '</p>');
			$('#clusterinfo').append('<p class="info"><b>Fim:</b> '+ end + '</p>');

			if ($('#clusterinfo').children().length > 4){
				$('#clusterinfo .info:lt(4)').remove();
			}

			////
			//// Processo de seleção das fotografias
			////
			var arr = [];
			//escolhidos aleatoriamente 9 index do cluster
			if(tweet_indexs.length >= 9){
				var c = Math.floor(Math.random() * tweet_indexs.length);
				arr.push(tweet_indexs[c])
				for (var i=0; i<8; i++){
					notvalid = true;				
					while (notvalid){
						var c = Math.floor(Math.random() * tweet_indexs.length);
						if (arr.indexOf(tweet_indexs[c]) == -1) {
							notvalid = false;
							console.log("entrei");
						} 
					}
					arr.push(tweet_indexs[c]);
					// arr.push(tweet_indexs[Math.floor(Math.random() * tweet_indexs.length)])
				}
			}
			else{
				var c = Math.floor(Math.random() * tweet_indexs.length);
				arr.push(tweet_indexs[c])
				for (var i=0; i<4; i++){
					notvalid = true;
					while (notvalid){
						var c = Math.floor(Math.random() * tweet_indexs.length);
						// console.log(tweet_indexs[c])
						// console.log(arr)

						if (arr.indexOf(tweet_indexs[c]) == -1) {
							console.log("entrei");
							notvalid = false;
						} 
					}
					arr.push(tweet_indexs[c]);
					// arr.push(tweet_indexs[Math.floor(Math.random() * tweet_indexs.length)])
				}
			}
			
			// console.log(arr);
			if ($('#images').children().length == 9){
				$('#images .img:lt(9)').remove();
			}
			if ($('#images').children().length == 5){
				$('#images .img:lt(5)').remove();
			}

			for (var j = 0; j < arr.length; j++){
				var id_tw = data[arr[j]]['id_str'];
				$('#images').append(

					'<img id="'+id_tw+'" class="img" src="static/img/'+id_tw+'.jpeg">'
					);
			}

			// $('#images').append('<button type="button" class="btn btn-danger shuffle">Ver outras</button>');

			show_image();
			////
			//// Fim processo
			////



		});
	}
		
	function show_image (){
		//interaction images
		var images = $('#images');
		var image = $('#images > img');
		var current = -1;
		var focus = $('.focus');
		var close = $('.close');
		var container = $('.focus .container_view');
		
		console.log('porreiro')

		image.on('click', function() {
	        // current = $('img').index($(this));
	        current = $(this).attr('src');
	        console.log(current);
	        container.empty();
	        container.append('<img src='+ current +'/><div class="whiteblock"></div>');
	        focus.fadeIn().addClass('enabled');
	        images.addClass('darken');
	        images.append('<div class="overlay"></div>');
	        // $('html, body').animate({
	        //     scrollTop: focus.offset().top - 50
	        // }, 500);
			console.log('clikei')

			var text = $('.whiteblock');
			var id_s = current.split('/')[2].split('.')[0];
			for (var y = 0; y < data.length; y++){
				if (data[y]['id_str'] == String(id_s) ){
					indx = y;
					break; 
				}
			}
			text.append('<div class="info_tweet"><p class="tweet_user"><b>'+data[indx]['user']['name']+'</b></p><p class="tweet_text">'+data[indx]['text']+'</p><a class="butt" href="https://twitter.com/statuses/'+id_s+'"><button type="button" class="btn btn-primary tweet_btn">Ir para tweet original</button></a></div>');

	    });

	    close.on('click', function() {
	        focus.css('display', 'none').removeClass('enabled');
	        images.removeClass('darken');
	        $('.overlay').remove();
	        $('.info_tweet').remove();
	    });
	}


	google.maps.event.addDomListener(window, 'load', initialize);

	//
	// TIMELINE CODE
	//
  	google.setOnLoadCallback(drawChart);

	function drawChart() {


		var container = document.getElementById('timeline');
		var chart = new google.visualization.Timeline(container);
		var dataTable = new google.visualization.DataTable();
		dataTable.addColumn({ type: 'string', id: 'Term' });
		dataTable.addColumn({ type: 'string', id: 'Name' });
		dataTable.addColumn({ type: 'date', id: 'Start' });
		dataTable.addColumn({ type: 'date', id: 'End' });
		j = 0
		for (var name in cluster) {
			
			var s = cluster[name].start ;
			var s_year = parseInt(s.split(" ")[5]);
			var s_month = s.split(" ")[1];
			s_month = ( "JanFebMarAprMayJunJulAugSepOctNovDec".indexOf(s_month) / 3 + 1 );
			var s_day = parseInt(s.split(" ")[2]);
			var date_hour = s.split(" ")[3];
			var s_hour = parseInt(date_hour.split(":")[0]);
			var s_min = parseInt(date_hour.split(":")[1]);
			var s_seg = parseInt(date_hour.split(":")[2]);

			// console.log(s.split(" "))
			// console.log(s_year, s_month, s_day)

			var e = cluster[name].end;
			var e_year = parseInt(e.split(" ")[5]);
			var e_month = e.split(" ")[1];
			e_month = ( "JanFebMarAprMayJunJulAugSepOctNovDec".indexOf(e_month) / 3 + 1 );;
			var e_day = parseInt(e.split(" ")[2]);
			var date_hour = e.split(" ")[3];
			var e_hour = parseInt(date_hour.split(":")[0]);
			var e_min = parseInt(date_hour.split(":")[1]);
			var e_seg = parseInt(date_hour.split(":")[2]);

			j += 1;
			dataTable.addRows([
				[ '1' , name, new Date(s_year, s_month, s_day, s_hour, s_min, s_seg), new Date(e_year, e_month, e_day, e_hour, e_min, e_seg) ]
			// [ '1', 'George Washington', new Date(1789, 3, 29), new Date(1797, 2, 3) ],
			// [ '2', 'John Adams',        new Date(1797, 2, 3),  new Date(1801, 2, 3) ],
			// [ '3', 'Thomas Jefferson',  new Date(1801, 2, 3),  new Date(1809, 2, 3) ]
				]);
			}

		var options = {
		timeline: { showRowLabels: false }

		};

		chart.draw(dataTable, options);

	}

	  

  </script>

{% endblock %}

{% block body %}
{# <div id="load">
	<img src="static/img/loader.gif">
</div> #}
<div class="row">
    <div class="col-md-8">
    	<div id="map-canvas"></div>
    	<br>
    	<div id="timeline"></div>
    </div>
    <div class="col-md-4">
    	<form id="form" action="/subset" method="POST">
			<select name="subset" id="subset" onchange="this.form.submit()"> 
				<option value='null'>- escolhe um conjunto-</option>
			  	{# <option selected="selected" value="S0">Subset 0</option> #}
			  	<option value="S0">17 a 18 de Junho 2013</option>
			  	<option value="S1">18 a 19 de Junho 2013</option>
			  	<option value="S2">17 a 19 de Junho 2013</option>
			</select>
			<br>
			<br>
			  <label for="pesoimg">Peso para imagem</label>
			  <select name="pesoimg" id="pesoimg">
			    <option value="0">0</option>
			    <option value="0.25">0.25</option>
			    <option value="0.5">0.5</option>
			    <option value="0.75">0.75</option>
			    <option value="1">1</option>
			  </select>
			<br>
			  <label for="pesoesp">Peso para espaço</label>
			  <select name="pesoesp" id="pesoesp">
			    <option value="0">0</option>
			    <option value="0.25">0.25</option>
			    <option value="0.5">0.5</option>
			    <option value="0.75">0.75</option>
			    <option value="1">1</option>
			  </select>
			<br>
			  <label for="pesotemp">Peso para tempo</label>
			  <select name="pesotemp" id="pesotemp">
			    <option value="0">0</option>
			    <option value="0.25">0.25</option>
			    <option value="0.5">0.5</option>
			    <option value="0.75">0.75</option>
			    <option value="1">1</option>
			  </select>
			  <br>
			<input type="submit" onclick="this.form.submit()" id="total" value="Submit">
			{# <input type="submit" onclick="update()" id="total" value="Submit"> #}
		</form>


		<div id="rightinfo">
			<div id="clusterinfo"></div>
			<div id="imgview">
				<div class="row">
					<div class="col-md-12">
						<div id="images"></div>
						{# <div></div> #}
						{# add images grid #}
						<div class="focus">
							<div class="controls"> <i class="close fa fa-times-circle"></i></div>
							<div class="container_view"></div>
							
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
    
  </div>
  <script type="text/javascript">
	  $('#pesoimg').change(function(){
	  	
	  	console.log("Boa");
	  });

  </script>
  <script type="text/javascript">
  
  $('document').ready(function(){

    

  	$("#subset option[value='S{{jsonfile}}']").attr('selected', 'selected');

  });
  </script>
{% endblock %}
